PORT=3000
MONGODB_URI=mongodb://localhost:27017/legal-escrow
FLW_PUBLIC_KEY=FLWPUBK_TEST-xxxxxxxxxxxxxxxxxxxx
FLW_SECRET_KEY=FLWSECK_TEST-xxxxxxxxxxxxxxxxxxxx
FLW_ENCRYPTION_KEY=FLWSECK_TESTxxxxxxxxxxxxxxxxxxxx
BASE_URL=http://localhost:3000
